<h3 class="center-align"><%= @course.name %> Information:</h3>

<ul class="collection">
  <li class="collection-item">Code: <%= @course.short_name %></li>
  <li class="collection-item">Description: <%= @course.description %></li>
  <li class="collection-item">Created at: <%= @course.created_at %></li>
  <li class="collection-item">Last update: <%= @course.updated_at %></li>
</ul>

<p class="right">
  <%= link_to '<i class="material-icons right">create</i>Edit course'.html_safe, 
    edit_course_path(@course), 
    class: 'btn waves-effect waves-light btn-small #00e676 green accent-3' %>
  
  <%= link_to '<i class="material-icons right">delete_forever</i>Delete course'.html_safe, 
    course_path(@course), 
    method: :delete, data: { confirm: 'Are you sure?' }, 
    class: 'btn waves-effect waves-light btn-small #00e676 red accent-3' %>
</p>

