<h3><%= @course.name %> Information:</h3>

<ul>
  <li>Code: <%= @course.short_name %></li>
  <li>Description: <%= @course.description %></li>
  <li>Created at: <%= @course.created_at %></li>
  <li>Last update: <%= @course.updated_at %></li>
</ul>
