<nav class="#1976d2 blue darken-4">
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Sign up', new_student_path %></li>
    <li><a href="#!">two</a></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><%= link_to 'Sign up', new_student_path %></li>
    <li><a href="#!">two</a></li>
    <li><a href="#!">three</a></li>
  </ul>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Tech University</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Courses', root_path %></li>
        <li><%= link_to 'Enrollments', '#' %></li>
        <li><%= link_to 'Students', students_path %></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            Account<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><%= link_to 'Courses', root_path %></li>
        <li><%= link_to 'Enrollments', '#' %></li>
        <li><%= link_to 'Students', students_path %></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown2">
            Account<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

