<nav class="#1976d2 blue darken-4">
  <ul id="dropdown1" class="dropdown-content">
    <%= render 'layouts/nav_session_links' %>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <%= render 'layouts/nav_session_links' %>
  </ul>
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to 'Tech University', root_path, class: 'brand-logo right' %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <%= render 'layouts/nav_links' %>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            Account<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <%= render 'layouts/nav_links' %>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown2">
            Account<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

